body{
    background: #000;
    font: 10px/12px Tahoma, Verdana, Geneva, sans-serif;
    color: #fff;
}
.wrap{
    width: 820px; /*960px;*/
    height: 808px; /*883px;*/
    background: #000 url(../img/bg.jpg) no-repeat center center;
    margin: auto;
    padding: 50px 70px 25px;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
/*Header*/
header{
    position: relative;
}
.logo{
    float: left;

}
.logo a{
    display: block;
    width: 266px;
    height: 147px;
    background: url("../img/logo.png") no-repeat center;
}
.text_hidden{
    display: none;
}
.contact{
    float: right;
    position: absolute;
    right: 0;
    bottom: 14px;
    font-size: 11px;
}
.contact h3, .contact p, .contact a{
    text-align: left;
}

/*Main*/

.photo{
    width: 65px;
    height: 18px;
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 45px;
    padding: 189px 100px 0;
    position: relative;
    font-size: 15px;
    color: #e6e6e6;
}
.photo:nth-child(3),
.photo:nth-child(6){
    margin-right: 0;
}
.photo:hover{
    color: yellow;
}
.photo img{
    position: absolute;
    top: 0;
    left: 0;
}
.photo span{
    display: block;
    text-align: center;
}


/*Footer*/
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer_text{
    margin-bottom: 28px;
    text-align: center;
    font-size: 11px;
}