@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
    /*url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype');
    /*url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    /*url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');*/
    font-weight: normal;
    font-style: normal;

}

/* === Общие стили === */
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}
.left{ float: left;}
.right{ float: right; }
a{
    cursor: pointer;
    text-decoration: none;
}

ul{
    list-style-type: none;
}
html, body{
    height: 100%;
    margin: 0 auto;
    font: 100%/1.5rem 'open_sanslight', Arial, Verdana, Geneva, sans-serif;
}
h1, h2, h3, h4{
    font: 3rem/2.125rem league_gothicregular, Arial, Verdana, Geneva, sans-serif;
}
.container{
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
}
/*начало блока header*/
header{
    background: #d4cacb url("../img/bg-header-480_70.jpg") no-repeat top center;
    height: 449px;
    padding-top: 67px;
    border-bottom: 1px solid #35273c;
}
header .container{
    position: relative;
}
.logo{
    width: 156px;
    margin: 0 auto;
    padding-top: 5px;
    /*float: left;*/
}
.logo a{
    width: 100%;
    height: 40px;
    padding: 5px;
    display: block;
    background: url("../img/logo.png") no-repeat top center;
}
nav.header-menu{
    width: 248px;
    height: 260px;
    margin: 0 auto;

}
.top-menu{
    margin: 0 auto;
    text-align: center;
}
.top-menu .top-menu-item{
    padding: 0;
}
.top-menu .top-menu-item > a{
    display: block;
    width: 55px;
    padding: 1px 10px;
    margin: auto;
    border-bottom: 2px solid #edbfff;
}
.top-menu li.top-menu-item:hover{
    border: 1px solid #0d171d;
    border-radius: 10px 10px 0 0;
    background: #3f3248;
    opacity: .8;
    border-top: 1px solid #503d58;
    border-bottom: 1px solid #36283e;
}
.menu li a{
    font: 1.5rem/2.5rem league_gothicregular, Arial, Verdana, Geneva, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .4);
}
.top-menu .top-menu-submenu{
    display: none;
    border: 1px solid #0d171d;
    border-radius: 0 0 10px 10px;
}
.top-menu li.top-menu-item:hover .top-menu-submenu{
    display: block;
}
.top-menu li.top-menu-item:hover .top-menu-submenu li:last-child a{
    border-bottom: none;
    z-index: 110;
}
.top-menu .submenu-item{
    background: #3f3248;
    opacity: .8;
}
.top-menu li.submenu-item{
    display: block;
    padding: 1px 0;
}
.top-menu li.submenu-item:last-child a{
    border-radius: 0 0 10px 10px;
}
.top-menu .submenu-item a{
    display: block;
    height: 40px;
}
li.submenu-item{
    border-top: 1px solid #503d58;
    border-bottom: 1px solid #36283e;
}
li.submenu-item:hover a{
    display: block;
    border-bottom: 2px solid #edbfff;
    z-index: 110;
}


/*Registration Form*/
form{
    width: 355px;
    height: 400px;

    margin-right: auto;
    overflow: hidden;
    font: .9rem/1rem 'open_sanslight', Arial, Verdana, Geneva, sans-serif;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    margin-top: -265px;
    left: 50%;
    margin-left: -170px;

}
form h2{
    font-size: 24px;
    line-height: 16px;
    text-align: center;
    color: white;
    padding: 0 0 11px;
    border-bottom: 2px solid #fff;
}
fieldset {
    border: 0;
    margin: 0 auto;
    padding: 0;
    display: block;
}
fieldset.fb{
    /*margin: 0 auto;*/
    height: 35px;
    text-align: center;
    display: block;
}
fieldset.fb button{
    border: none;
    padding: 0;
    height: 35px;
    border-radius: 5px;
    margin-top: 32px;
}
.ou-line{
    background: url("../img/ou-line.png") no-repeat center center;
    margin: 30px auto;
}
fieldset.account-info{
    display: block;
    /*margin-top: 75px;*/
}
input{
    width: 244px;
    height: auto;
    background-color: #0f0f0f;
    margin: 0 auto 9px;
    color: #ccc;
    font-size: 12px;
    line-height: 12px;
    display: block;
    padding: 9px 18px;
    border: none;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}
input:hover, input[autofocus]{
    background-color: #1b5287;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
fieldset.account-info:last-child{
    margin-bottom: 0;
}
fieldset.account-action{
    width: 280px;
    height: 95px;
    margin-top: 3px;
}
fieldset.account-action > label{
    width: 244px;
    height: 25px;
    /*margin: 0 auto;*/
    display: inline-block;
    float: left;
}
fieldset.account-action > label >input{
    margin-top: 3px;
    margin-right: 7px;
    width: 12px;
    height: 12px;
    float: left;
}
fieldset.account-action > label span{
    display: block;
    margin-left: 5px;
    font-size: 14px;
    color: #ccc;
}
.account-action > label{
    /*margin-bottom: 15px;*/
}
fieldset.account-action input.btn{
    width: 150px;
    font-size: 12px;
    line-height: 12px;
    background: linear-gradient(to bottom, #4eabda, #2e7ac4);
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
}
form > p{
    color: #ccc;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    margin-top: -20px;
}
label.text_white{
    font-size: 12px;
    line-height: 12px;
}
.text_white{
    color: #ccc;
}

.about-block{
    height: 200px;
    margin-top: 0;
    background: linear-gradient(to top, #36293d, #765283);
}


/*Footer*/
footer{
    height: 200px;
    background: url("../img/bg-footer-200_70.jpg") no-repeat top center;
    padding-top: 38px;
    z-index: 3;
}
footer nav ul.menu,
.footer-menu{
    display: none;
}
.footer-signup{
    width: 145px;
    margin: 0 auto;
}
.footer-signup a{
    display: block;
    padding: 2px;
    font: .75rem/2.125rem 'open_sanslight', Arial, Verdana, Geneva, sans-serif;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}
.footer-signup a span{
    font-family: 'open_sansextrabold', Arial, Verdana, Geneva, sans-serif;;
}


/*Parameters for max-width: 768px;*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container{
        max-width: 480px;
    }
    header{
        background: #d4cacb url("../img/bg-header-768_70.jpg") no-repeat top center;
        height: 481px;/*548px(по макету) - 67px(padding-top) = 481px*/
        padding-top: 67px;
    }

    /*Registration Form*/
    form{
        width: 460px;
        height: 400px;
        position: absolute;
        top: 50%;
        margin-top: -265px;
        left: 50%;
        margin-left: -218px;
        overflow: hidden;
        font: 14px/14px "Helvetica Neue", Helvetica, Tahoma, Verdana, sans-serif;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, .5);
    }
    .about-block{
        margin-top: 0;
    }

    /*Footer*/
    footer{
        height: 200px;
        background: url("../img/bg-footer-200_70.jpg") no-repeat top center;
        padding-top: 36px;
    }
    footer nav ul.menu{
        display: block;
    }
    .footer-menu{
        margin-left: 20px;
    }
    .footer-menu li{
        display: inline-block;
    }
    .menu li{
        margin: 0 10px;
    }
    .menu li:first-child{
        margin-left: 0;
    }
    .menu li a{
        font-size: 1.25rem;
    }
    .footer-signup{
        width: 145px;
        margin: 5px auto 0;
    }
    .footer-signup a{
        display: block;
        padding: 2px;
        font: .75rem/2.125rem 'open_sanslight', Arial, Verdana, Geneva, sans-serif;
        color: #fff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
    }
    .footer-signup a span{
        font-family: 'open_sansextrabold', Arial, Verdana, Geneva, sans-serif;;
    }

}


/*Parameters for max-width: 768px;*/
@media screen and (min-width: 769px) and (max-width: 960px) {
    .container{
        max-width: 768px;
    }
    header{
        background: #d4cacb url("../img/bg-header-960_70.jpg") no-repeat top center;
        height: 733px;/*800px(по макету) - 67px(padding-top) = 733px*/
        padding-top: 67px;
    }
    .logo{
        margin-left: 11px;
        width: 100%;
    }
    .logo a{
        width: 156px;
    }
    nav.header-menu{
        width: 740px;
        height: auto;
        margin: 15px 0;
    }
    .top-menu{
        margin: 0;
        float: left;
    }
    .top-menu .top-menu-submenu{
        display: inline-block;
        float: left;
        width: 570px;
        border: none;
        border-radius: 0;
    }
    .top-menu-item > a{
        float: left;
    }
    .top-menu li.submenu-item{
        background: none;
        opacity: 1;
        border: none;
        float: left;
    }
    .submenu-item a{
        padding: 1px 12px;
        margin: 0 10px;
    }
    .top-menu li.top-menu-item:hover{
        border: none;
        border-radius: 0;
        background: none;
        opacity: 1;
    }
    .submenu-item:hover a{
        border-bottom: 2px solid #edbfff;
    }


    /*Registration Form*/
    form{
        width: 560px;
        height: 612px;
        position: absolute;
        top: 50%;
        margin-top: -265px;
        left: 50%;
        margin-left: -280px;
        overflow: hidden;
        font: 14px/14px "Helvetica Neue", Helvetica, Tahoma, Verdana, sans-serif;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, .5);
    }
    form h2{
        font-size: 24px;
        line-height: 16px;
        text-align: center;
        color: white;
        padding: 25px 0 22px;
        border-bottom: 2px solid #fff;
    }
    fieldset {
        border: 0;
        margin: 0 auto;
        padding: 0;
        display: block;
    }
    fieldset.fb{
        /*margin: 0 auto;*/
        height: 35px;
        text-align: center;
        display: block;
    }
    fieldset.fb button{
        border: none;
        padding: 0;
        height: 35px;
        border-radius: 5px;
        margin-top: 32px;
    }
    .ou-line{
        background: url("../img/ou-line.png") no-repeat center center;
        margin: 30px auto;
    }
    fieldset.account-info{
        display: block;
        margin-top: 75px;
    }
    input{
        width: 244px;
        height: auto;
        background-color: #0f0f0f;
        margin: 25px auto 17px;
        color: #ccc;
        font-size: 14px;
        line-height: 16px;
        display: block;
        padding: 9px 18px;
        border: none;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    }
    input:hover, input[autofocus]{
        background-color: #1b5287;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
        cursor: pointer;
    }
    fieldset.account-info:last-child{
        margin-bottom: 0;
    }
    fieldset.account-action{
        width: 280px;
        height: 95px;
        margin-top: 3px;
    }
    fieldset.account-action > label{
        width: 244px;
        height: 25px;
        /*margin: 0 auto;*/
        display: inline-block;
        float: left;
    }
    fieldset.account-action > label >input{
        margin-top: 3px;
        margin-right: 7px;
        width: 12px;
        height: 12px;
        float: left;
    }
    fieldset.account-action > label span{
        display: block;
        margin-left: 5px;
        font-size: 14px;
        color: #ccc;
    }
    .account-action > label{
        margin-bottom: 15px;
    }
    fieldset.account-action input.btn{
        width: 150px;
        font-size: 14px;
        line-height: 16px;
        background: linear-gradient(to bottom, #4eabda, #2e7ac4);
        color: #fff;
        padding: 8px 10px;
        border-radius: 3px;
    }
    form > p{
        color: #ccc;
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        margin-top: -10px;
    }

    /*Footer*/
    footer{
        height: 200px;
        background: url("../img/bg-footer-200_70.jpg") no-repeat top center;
        padding-top: 36px;
    }
    footer nav ul.menu{
        display: block;
    }
    .footer-menu{
        margin-left: 20px;
        float: left;
    }
    .footer-menu li{
        display: inline-block;
    }
    footer nav ul.menu li{
        margin: 0 19px;
    }
    footer nav ul.menu li:first-child{
        margin-left: 0;
    }
    footer nav ul.menu li a{
        font-size: 1.25rem;
    }
    .footer-signup{
        width: 145px;
        margin-top: 55px;
        margin-right: 20px;
        float: right
    }
}


/*Parameters for min-width: 960px;*/
@media screen and (min-width: 961px){
    .container {
        max-width: 960px;
    }
    header {
        background: #d4cacb url("../img/bg-header-1040_70.jpg") no-repeat top center;
        height: 778px;/*845px(по макету) - 67px(padding-top) = 778px*/
        padding-top: 67px;
    }
    .logo-menu{
        margin-bottom: 230px;
        height: 45px;
    }
    .logo{
        float: left;
        margin-left: -3px;
        width: 156px;
    }
    .logo a{
        width: auto;
    }
    nav.header-menu{
        width: 650px;
        height: auto;
        float: right;
        position: relative;
    }
    .top-menu{
        margin: 0;
        float: left;
    }
    .top-menu .top-menu-submenu{
        display: inline-block;
        float: left;
        width: 570px;
        border: none;
        border-radius: 0;
        position: absolute;
        margin-left: -30px;
    }
    .top-menu-item > a{
        float: left;
    }
    .top-menu li.submenu-item{
        background: none;
        opacity: 1;
        border: none;
        float: left;
    }
    .submenu-item a{
        padding: 1px 12px;
        margin: 0 10px;
    }
    .top-menu li.top-menu-item:hover{
        border: none;
        border-radius: 0;
        background: none;
        opacity: 1;
    }
    .submenu-item:hover a{
        border-bottom: 2px solid #edbfff;
    }

    /*Registration Form*/
    form{
        width: 560px;
        height: 612px;
        position: absolute;
        top: 50%;
        margin-top: -265px;
        left: 50%;
        margin-left: -280px;
        overflow: hidden;
        font: 100%/1.5rem 'open_sanslight', Arial, Verdana, Geneva, sans-serif;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, .5);
    }
    form h2{
        font-size: 24px;
        line-height: 16px;
        text-align: center;
        color: white;
        padding: 25px 0 22px;
        border-bottom: 2px solid #fff;
    }
    fieldset {
        border: 0;
        margin: 0 auto;
        padding: 0;
        display: block;
    }
    fieldset.fb{
        /*margin: 0 auto;*/
        height: 35px;
        text-align: center;
        display: block;
    }
    fieldset.fb button{
        border: none;
        padding: 0;
        height: 35px;
        border-radius: 5px;
        margin-top: 32px;
    }
    .ou-line{
        background: url("../img/ou-line.png") no-repeat center center;
        margin: 30px auto;
    }
    fieldset.account-info{
        display: block;
        margin-top: 75px;
    }
    input{
        width: 244px;
        height: auto;
        background-color: #0f0f0f;
        margin: 25px auto 17px;
        color: #ccc;
        font-size: 14px;
        line-height: 16px;
        display: block;
        padding: 9px 18px;
        border: none;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    }
    input:hover, input[autofocus]{
        background-color: #1b5287;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
        cursor: pointer;
    }
    fieldset.account-info:last-child{
        margin-bottom: 0;
    }
    fieldset.account-action{
        width: 280px;
        height: 95px;
        margin-top: 3px;
    }
    fieldset.account-action > label{
        width: 244px;
        height: 25px;
        /*margin: 0 auto;*/
        display: inline-block;
        float: left;
    }
    fieldset.account-action > label >input{
        margin-top: 3px;
        margin-right: 7px;
        width: 12px;
        height: 12px;
        float: left;
    }
    fieldset.account-action > label span{
        display: block;
        margin-left: 5px;
        font-size: 14px;
        color: #ccc;
    }
    .account-action > label{
        margin-bottom: 15px;
    }
    fieldset.account-action input.btn{
        width: 150px;
        font-size: 14px;
        line-height: 16px;
        background: linear-gradient(to bottom, #4eabda, #2e7ac4);
        color: #fff;
        padding: 8px 10px;
        border-radius: 3px;
    }
    form > p{
        color: #ccc;
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        margin-top: -10px;
    }
    .text_white{
        color: #ccc;
    }

    /*Footer*/
    footer{
        height: 76px;
        background: url("../img/bg-footer-114_70.jpg") no-repeat top center;
        padding-top: 40px;
    }
    footer nav ul.menu{
        display: block;
    }
    .footer-menu{
        float: left;
    }
    .footer-menu li{
        display: inline-block;
    }
    footer nav ul.menu li{
        margin: 0 19px;
    }
    footer nav ul.menu li:first-child{
        margin-left: 0;
    }
    footer nav ul.menu li a{
        font-size: 1.25rem;
    }
    .footer-signup{
        width: 145px;
        margin-top: 0;
        float: right
    }
}