@font-face {
    font-family: 'Open Sans regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font: 16px/16px 'Open Sans regular', Arial, Helvetica, Verdana, Geneva, sans-serif;
    background: #f9f9f9;
}
.wrap {
    width: 970px;
    margin: 0 auto;
    padding: 50px 45px 60px;
    background-color: #fff;
    -webkit-box-shadow: 1px 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.3);
}
.hidden{
    display: none;
}
/*Header*/
header{
    margin-bottom: 38px;
}
.logo{
    margin-bottom: 37px;
}
.menu_header{
    margin: 0;
    padding: 0;
    /*width: 966px;*/
    height: 40px;
    text-align: left;
    background: linear-gradient(to bottom, #5e5e5e, #444343);
    font-size: 0;
    line-height: 0;
}
.menu_header li{
    display: inline-block;
    line-height: normal;
}
.menu_header a{
    display: block;
    width: 92px;
    padding: 9px 24px;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    border-left: 1px solid rgba(131, 131, 131, 0);
    border-right: 1px solid rgba(131, 131, 131, 0);

}
.menu_header a:hover{
    background: linear-gradient(to bottom, #494949, #2f2f2f);
    border-left: 1px solid rgba(131, 131, 131, 1);
    border-right: 1px solid rgba(131, 131, 131, 1);
}

/*Main*/
/*menu_goods*/
main{
    margin-bottom: 50px;
}
aside{
    float: left;


}
.menu_goods{
    width: 240px;
    height: 240px;

    border: 1px solid #c8c8c8;
}
.menu_goods li{
    border-bottom: 1px solid #c8c8c8;
}
.menu_goods li:last-child{
    border-bottom: none;
}
.menu_goods a{
    display: block;
    padding: 13px 22px;
    font-size: 13px;
    line-height: 13px;
    color: #656363;

}
.menu_goods a:hover{
    background-color: #f9f9f9;
    padding-left: 32px;
}

.content{
    width: 678px;
    float: right;
}

.pic{
    height: 308px; /*400px - 46px*2(img paddings)*/
    margin-bottom: 35px;
    padding: 46px 88px;
    border: 1px solid #c8c8c8;
}
.pic img{
    width: 500px;
    height: 307px;
    text-align: center;
}
.text{
    padding: 0 23px;
    font-size: 14px;
    line-height: 21px;
    color: #2c2c2c;
}

/*Footer*/
footer{
    height: 26px; /*40px - 2*7px(a paddings)*/
    padding: 9px 15px;
    background-color: #e1e1e1;

}
footer nav{
    float: left;
}
.menu_footer li{
    display: inline-block;
}
.menu_footer a{
    width: 115px;
    display: block;
    padding: 0 11px;
}
.menu_footer a:hover{
    text-decoration: underline;
}
.menu_footer a, .copyright{
    font-size: 13px;
    line-height: 29px;
    color: #2c2c2c;
}
.copyright{
    float: right;
    margin-right: 7px;
}
